.header_div{
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: gray;
  background-color: rgba(128, 128, 128, 0.5);
  max-width: 925px;
  height: 50px;
  margin-left: 15px;

}

table:hover {background: #f5f5f5;
opacity: 0.7;
}
body{
  background-size: 100% 100%;

}
table{
  height: 260px;
}
.location{
  vertical-align:-20px;

}
