.header_div{
  margin-top: 50px;
  margin-bottom: 50px;
}

table:hover {background: #f5f5f5;
opacity: 0.7;
}
body{
  background-size: 100% 100%;

}
table{
  height: 260px;
}
#city_name{
  background-color: gray;
  
}
/*.clear{
  background: url('d3c6pm2g2o4vya.cloudfront.net/weather/clear.jpg');
}
.snow{
  background: url("d3c6pm2g2o4vya.cloudfront.net/weather/Snow.jpg");
}
.rain, .drizzle{
  background: url("d3c6pm2g2o4vya.cloudfront.net/weather/Rain.jpg");
}
.thunderstorm{
  background: url("d3c6pm2g2o4vya.cloudfront.net/weather/Thunderstorm.jpg");
}*/
